
 a {
    color: rgb(239, 239, 249);
    text-decoration: none;
}
a:hover{
    color: darkblue;
}
#first{
    display:inline-block;
    border-style: double;
    width:40%;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
}
#second{
    border-style: double;
    width:40%;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
}
#third{
    border-style: double;
    width:40%;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
}
#forth{
    border-style: double;
    width:40%;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
}
footer{
    background-color: rgb(4, 50, 34);
}
header{
    background-color: rgb(142, 142, 239);
}
#A{
       text-decoration-color: aliceblue;

}
#backg{
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    margin: 10px auto;
    background-image:url();
    background-size:cover;
}